<ion-header>

    <ion-toolbar color="primary">

        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Soporte</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>

   <h2>¿ En que podemos ayudarte ? </h2>

   
   <ion-input aria-label="" placeholder="Escribe aqui ..." class="text"  [counter]="true" [maxlength]="200" ></ion-input>

   <ion-button class="botonEnviar" color="tertiary"  (click)="enviarDatos()">Enviar</ion-button>

  


</ion-content>