<ion-app>


    <ion-menu side="start" contentId="main">
    <ion-header>
      <ion-toolbar color="Primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
  
      <ion-list>
  
        <ion-menu-toggle>
  
          <ion-item routerLink="/home" routerDirection="forward">principal
            <ion-icon slot="start" name="home" color="primary"></ion-icon>
  
          </ion-item>
            <ion-item  routerLink="/editar" routerDirection="forward">Editar inventario
            <ion-icon slot="start" name="create-outline" color="primary"></ion-icon>
  
        </ion-item>
          <ion-item  routerLink="/informe" routerDirection="forward">Informe
            <ion-icon slot="start" name="folder-outline" color="primary"></ion-icon>
          </ion-item>
          <ion-item  routerLink="/bienes" routerDirection="forward">Bienes
            <ion-icon slot="start" name="cube-outline" color="primary"></ion-icon>
          </ion-item>
          <ion-item routerLink="/soporte" routerDirection="forward">Soporte
            <ion-icon slot="start" name="information-circle-outline" color="primary"></ion-icon>
          </ion-item>
          <ion-item  routerLink="/configuracion" routerDirection="forward">Configuracion
      <ion-icon slot="start" name="settings-outline" color="primary"></ion-icon>      
    </ion-item>
  
  
        </ion-menu-toggle>
  
      </ion-list>
  
    </ion-content>
  </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
  
  
  </ion-app>